.vscode/settings.json
.venv/
src/pages/__pycache__/
src/pages/__pycache__/profile.cpython-313.pyc
src/pages/__pycache__/profile.cpython-312.pyc
src/pages/__pycache__/prediction.cpython-313.pyc
src/pages/__pycache__/prediction.cpython-312.pyc
src/pages/__pycache__/political_trading.cpython-313.pyc
src/pages/__pycache__/political_trading.cpython-312.pyc
src/pages/__pycache__/news_sentiment.cpython-312.pyc
src/pages/__pycache__/new_sentiment.cpython-313.pyc
src/pages/__pycache__/main_page.cpython-312.pyc
src/pages/__pycache__/google_trends.cpython-313.pyc
src/pages/__pycache__/google_trends.cpython-312.pyc
src/pages/__pycache__/dashboard.cpython-313.pyc
src/pages/__pycache__/dashboard.cpython-312.pyc
src/pages/__pycache__/_sentiment.cpython-313.pyc
src/auth/__pycache__/
src/auth/__pycache__/login_screen.cpython-312.pyc
src/auth/__pycache__/signup_screen.cpython-312.pyc
src/auth/__pycache__/signup_screen.cpython-313.pyc
src/auth/__pycache__/widgets.cpython-312.pyc
src/auth/__pycache__/widgets.cpython-313.pyc
serviceAccountKey.json